body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.card-container {
    perspective: 1000px;
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card div {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card .card-front {
    background-color: #f5ba13;
}

.card .card-back {
    background-color: #13f536;
    transform: rotateY(180deg);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
