body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #FAEBD7;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
    text-align: center;
}

.card-container {
    perspective: 1000px;
    height: 200px;
    width: 300px;
    margin-bottom: 20px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card div {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

.red-button {
    background-color: red;
    color: white;
    margin-bottom: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:disabled {
    background-color: #777;
}
